<ul>
  <% restaurants.forEach(restaurant => { %>
  <li>
    <p>
      <a href="<%= `/restaurant/${restaurant.name}` %>"
        ><%= restaurant.name %></a
      >
    </p>
    <p><%= restaurant.email %></p>
    <p><%= restaurant.id %></p>
    <p><%= restaurant.password %></p>
  </li>
  <% }) %>
</ul>
