<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>



        <% if (loggedIn) { %>
            Logged in as <a href="<%= `/users/${currentUser._id}` %>">
                <%= currentUser.fullName %>
            </a>
        <%} else {%>
            <a href="/users/login">Login</a>

            <a href="/users/signup">Register</a>

        <% } %>

    </nav>

    <div class="flash-message">
        <% if (flashMessages) { %>
            <%  if (flashMessages.success) { %>
                <div class="success-message" style="color: rgb(22, 236, 22);"><%= flashMessages.success %></div>
            <%  } else if (flashMessages.error) { %>
                <div style="color: red;" class="error-message"><%= flashMessages.error %></div>
            <% } %>
        <% } %>
    </div>

    <%- body %>

    <footer>
        FOOTER
    </footer>
    
</body>
</html>