<h1>Your Business Dashboard</h1>

<%= restaurant.name %>
<%= restaurant.id %>
<%= restaurant.email %>

<h3>Reservations</h3>



<% restaurantsReservations.forEach(reservation=> { %>

    <li>
        <p> Reservation code: <%= reservation.code %></p>
        <p>Restaurant: <%= reservation.restaurant.name %></p>
        <p>Date: <%= reservation.reservationDateTime %></p>
        <p>Restaurant address: <%= reservation.restaurant.address %></p>
        <p>Customer name: <%= reservation.user.fullName %></p>
        <p>Customer email: <%= reservation.user.email %></p>
        <br>
    </li>
    <% }) %>
