<h2>Update Your Profile</h2>

<form method="post" action="<%= `/users/${user.id}/update?_method=PUT` %>">
<!-- <form method="post" action="<%= `/users/${user.id}` %>"> -->

    <label for="first">First Name</label>
    <input 
        type="text" 
        name="first" 
        id="first-name" 
        value="<%= user.name.first %>" 
        autofocus
    >

    <label for="last">Last Name</label>
    <input 
        type="text" 
        name="last" 
        id="last-name" 
        value="<%= user.name.last %>" 
    >

    <label for="email">Email</label>
    <input 
        type="text" 
        name="email" 
        id="email" 
        value="<%= user.email %>" 
    >

    <label for="password">Password</label>
    <input 
        type="text" 
        name="password" 
        id="password" 
        value="<%= user.password %>" 
    >

    <button type="submit">Update</button>
</form>

