<h2>Users</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    
    <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td>
                    <a href="<%= `/users/${user.id}` %>">
                        <%= user.fullName %>
                    </a>
                </td>
                <td><%= user.email %></td>
                <td><%= user.id %></td>
                <td><%= user.password %></td>
            </tr>
        <% }) %>
    </tbody>
</table>