<section class="user-profile space-y-8">
  <div class="space-y-3">
    <h2 class="text-2xl font-extrabold"><%= user.fullName %></h2>
    <p><%= user.email %></p>

    <p><a href="<%= `/users/${user.id}/edit` %>">Edit Profile</a></p>
  </div>


  <ul>
    <% userReservation.forEach(reservation=> { %>
    <div class="card">
      <li class="space-y-4">
        <p><span class="font-bold">Reservation code:</span>  <%= reservation.code %></p>
        <p><span class="font-bold">Restaurant:</span> <%= reservation.restaurant.name %></p>
        <p><span class="font-bold">Date:</span> <%= reservation.reservationDateTime %></p>
        <p><span class="font-bold">Restaurant address</span>: <%= reservation.restaurant.address %></p>
      </li>
    </div>
    <% }) %>
  </ul>

  <button
    onclick="return confirm('Are you sure you want to delete your account?') "
  >
    <a href="<%= `/users/${user.id}/delete?_method=DELETE` %>"
      >Delete account</a
    >
  </button>

  <a href="<%= `/users` %>">All users</a>
</section>
