<h2>
    <%= user.fullName %>
</h2>

<ul>
    <li>
        <%= user.fullName %>
    </li><br>
    <li>
        <%= user.email %>
    </li><br>

    <% if (user.reservation) {%>

        <h3>Your reservations</h3>
        <li>
            <%= user.reservation %>
        </li><br>

        <ul>
            <% user.reservation.forEach(reservation=> { %>

                <li>
                    <%= reservation.code %>
                        <%= reservation.user %>
                            <%= reservation.restaurant %>
                </li>
                <% }) %>

        </ul>
        <% } else { %>
            <p>You have no table reservation</p>
            <% } %>
</ul>





<a href="<%= `/users/${user.id}/edit` %>">Edit Profile</a> <br><br>

<button onclick="return confirm('Are you sure you want to delete your account?') ">
    <a href="<%= `/users/${user.id}/delete?_method=DELETE` %>">Delete account</a>
</button>

<a href="<%= `/users` %>">All users</a>